<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <script src="https://kit.fontawesome.com/0f2f450181.js" crossorigin="anonymous"></script>
        <title>Travel website</title>
    </head>
    
    <body class="about-body">
        <div class="container">
            <section>
                <nav class="navbar">
                    <div class="container">
                        <h1 class="logo"> My Website </h1>
                        <ul class="navitems" > 
                                <!-- <li class="nav-item"> <a href="index.html"> <b>Home</b> </a></li> -->
                                <!-- <li class="nav-item"> <a href="about.html"> <b>About</b>  </a></li>
                                <li class="nav-item"> <a href="contact.html"> <b> Contact</b></a></li> -->
                                <form action="/logout?_method=DELETE" method="POST">
                                    <button class="nav-item" type="submit">Logout</button>

                                </form>
                        </ul>
                    </div>
            </section>
        </div>
        <div style="position: relative;
        text-align: center;
        color: rgb(0, 0, 0);">
            <img src="https://www.thoughtco.com/thmb/PCVPjqDcfiY4az_kycvn-EJA-e8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/swarthmore-college-Eric-Behrens-flickr-5706ffe35f9b581408d48cb3.jpg" alt="Snow" style="width:75%;opacity: 75%;">
            <div>
                
                  <div style="position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);">
                   

                        <div class="boxes zoom-in"> Welcome <%= name %> to My Website                         
                             This is a Demo Website </div>
                       
                </div>
              </div>
            </div>
            
        </div>
        
        
    
</body>
<style>
    /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,100;1,200&display=swap'); */
/* @import url("C:/Users/Admin/Desktop/first project/slidebar/slidebar.html"); */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: 0px;
  
}
body {
  font-family: sans-serif;
  /* border: 2px solid red; */
  background-color: violet;
}
.container {
  max-width: 1250px;
  /* width: 90%; */
  /* margin: auto 0;   */
  /* border: 10px solid rgb(0, 0, 0);     */
  margin: 0 auto;
}
.header {
  height: 90vh;
  background: url("C:/Users/Admin/Desktop/first project/slidebar/slidebar.html");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: rgb(216, 60, 216); */
  /* border: 2px solid red; */
}

.logo {
  color: rgb(255, 255, 255);
  float: left;
  /* border: 2px solid red; */
  /* padding: 5px; */
  /* margin-left: 50px; */
  font-size: 35px;
  /* border: 2px solid red; */
}

.navbar .nav-item {
  
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    margin-right: 3rem;
    margin-top: 8px;
    list-style-type: none;
    background: #232e33;
    color: aliceblue;

  /* border: 2px solid red; */
}
.navbar ::after {
  content: "";
  display: block;
  clear: both;
}
.navbar {
  background-color: #232e33;
}
.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.navbar a:hover {
  border-bottom: 1px solid rgb(255, 0, 0);
  border-bottom-style: dashed;
  padding-bottom: 1px;
}

.boxes {
  height: 100px;
  width: 150px;
  background-color: rgba(36, 36, 36, 0.594);
  margin: 5px 10px;
  cursor: pointer;
  transition: all 1s; /* lets make it smooth */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  padding: 10px;
}

.zoom-in:hover {
  background-color: crimson;
  transition: all 0.5s;
  transform: scale(1.5);
}

</style>
</html>