body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (max-width: 768px) {
  .Navitem {
    display: none; 
  }
  .Navitem:nth-child(1) {
    display: block;
  }

}
Navbar span{
  display: none;

}

.first-button{
  background-color: rgba(0, 0, 0, 0.634);
}
@media (min-width: 768px) {
  
  #abd{
    display: block !important;
  }
}

@media (min-width: 768px) {
  .burgur{
    display: none;
  }
}